*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.active-link{
    color: lightcoral;
    
}

.header{
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px gray;
}

.header__logo{
   width: 400 px;
}

.header__button{
    
    font-size: 30px;
    width: 40px;
    display: none;
}

.header__nav{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 600px;
 
}

.header__list{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    
   
}

.header__item{
    margin: 0.5em;
    
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

@media screen and (max-width:480px){
    .header__button{
        display: block;
    }
    .header__nav{
        width: 100%;
        display: none;
    }
    .header__nav.activo{
        display: block;
    }


    .header__list{
        flex-direction: column;
    }
    .header__item{
        margin: 1rem 0;
    }
}
